# AWS Elastic Beanstalk Configuration for HazardNet Backend

option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 3000
    NODE_ENV: production
    
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
